@media screen and (max-width :800px) {
  body{
    margin:0px 0px;
    background-color: #4584c9;
<<<<<<< HEAD

  }
>>>>>>> ac11f77f0f1d1610d805cfd7139087d3a285b239
/*cover image*/
  img{
    width: 100%;
    height:auto;
    margin-bottom: 100px;
  }
  /*navigacija*/
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #4584c9;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    float: left;
    color: #c8509f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.icon {
    float: right;
    color: #c8509f;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: #4584c9;
  }

  .active {
    background-color: #4584c9;
    color: grey;
<<<<<<< HEAD

  }
>>>>>>> ac11f77f0f1d1610d805cfd7139087d3a285b239
  .overview , .mission{
    font-family: serif;
    font-size: 30px;
    margin-left: 50px;

  }
  .paragraph_one, .paragraph_two{
    margin: 20px 20px;
    font-size: 18px;
  }
}
